- connections.each do |connection|
  - service = connection[0]
  - img_name = "/img/service/#{service}"
  - img_svg = "#{img_name}.svg"
  - img_png = "#{img_name}.png"
  - # Documented Chrome bug: does not render CSS transitions for visited links
  - random = (0...10).map { ('a'..'z').to_a[rand(26)] }.join
  - url = connection[1] + '?randomized=' + random
  %a.service_link.randomized{href: url,
                  onmouseover: "highlighter.highlight_service('#{service}', true)",
                  onmouseout: "highlighter.highlight_service('#{service}', false)"}
    %img.service_img.align_mid{src: img_svg,
                               onerror: 'this.src = img_png',
                               id: "#{service}-btn"}
