- connections.each do |connection|
  - service = connection[0]
  - img_name = "/img/service/#{service}"
  - img_svg = "#{img_name}.svg"
  - img_png = "#{img_name}.png"
  - url = connection[1]
  %a.service_link{href: url,
                  onmouseover: "highlighter.highlight_service('#{service}', true)",
                  onmouseout: "highlighter.highlight_service('#{service}', false)",
    }
    %object.service_img.align_mid{type: 'image/svg+xml',
                                  data: img_svg,
                                  id: "#{service}-btn",
                                  onload: '$("window").resize();'}
